@main {
    
    <h1>Transmi Metro</h1>

    @helper.form(action = routes.ScalaEventSourceController.upload(), 'enctype -> "multipart/form-data") {

        Para reinicar la simulación se debe subir un archivo a la vez (<a href="/assets/archivoEstaciones.csv">archivoEstaciones.csv</a> y <a href="/assets/archivoTrenes.csv">archivoTrenes.csv</a>)<br/>
        <br/><br/>
        <input type="file" name="picture">&nbsp;
        <input type="submit" value="Subir">
    }

    <br/>

    <h3 id="clock"></h3>
    
    <p>
        Juan Camilo Gaviria <br/> Mauricio Montaño <br/> Programación funcional con aplicación en scala
    </p>
    
    <script type="text/javascript" charset="utf-8">

       if (!!window.EventSource) {
         var stringSource = new EventSource("@routes.ScalaEventSourceController.streamClock()");
         stringSource.addEventListener('message', function(e) {
            $('#clock').html(e.data)
         });
       } else {
         $("#clock").html("Sorry. This browser doesn't seem to support Server sent event. Check <a href='http://html5test.com/compare/feature/communication-eventSource.html'>html5test</a> for browser compatibility."); 
       }
    </script>    
}
